<nav id="nav">
    <ul class="links">
        {{#foreach navigation}}
        <li class="nav-{{slug}} {{#if current}}active{{/if}}"><a href="{{url absolute="true"}}">{{label}}</a></li>
        {{/foreach}}
    </ul>
    <ul class="icons">
        {{#if @site.twitter}}
        <li><a href="{{twitter_url @site.twitter}}" class="icon fa-twitter" title="Twitter"><span
                    class="label">Twitter</span></a></li>
        {{/if}}
        {{#if @site.facebook}}
        <li><a href="{{facebook_url @site.facebook}}" class="icon fa-facebook" title="Facebook"><span
                    class="label">Facebook</span></a></li>
        {{/if}}
        <li><a href="#/portal/signup/free"
                class="icon fa-envelope" title="Subscribe to Our Free Newsletter"
                alt="Subscribe to Updates in Email"><span class="label">Subscribe</span></a></li>
        <li><a href="/rss" class="icon fa-rss"
                title="Subscribe to Updates in RSS" alt="Subscribe to Updates in RSS"><span
                    class="label">Subscribe</span></a></li>
    </ul>
</nav>