{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{#post}}
{{!-- Everything inside the #post tags pulls data from the post --}}

<main id="main">

    <section class="post">

        <header class="major">
            <span class="date">{{date format="MMMM D, YYYY"}}</span>
            <h1>{{title}}</h1>
            {{#if custom_excerpt}}
            <p class="content">{{custom_excerpt}}</p>
            {{/if}}
        </header>

        {{#if feature_image}}
        <div class="image main"><img src="{{img_url feature_image}}" alt="{{title}}" /></div>
        {{/if}}

        <div class="content">
            {{content}}
        </div>

        {{!-- Email subscribe form at the bottom of the page --}}
        {{#if @labs.subscribers}}
        <section class="subscribe-form">
            <h3 class="subscribe-form-title">Subscribe to {{@site.title}}</h3>
            <p>Get the latest posts delivered right to your inbox</p>
            {{subscribe_form placeholder="youremail@example.com"}}
        </section>
        {{/if}}

        <footer class="post-footer">

            <div class="authors">
                {{#foreach authors}}
                <a class="author-box" href="{{url}}">
                    {{#if profile_image}}
                    <img class="author-profile-image" src="{{profile_image}}" alt="{{name}}" />
                    {{/if}}
                    <section class="author-box-content">
                        <div class="author-box-label">Author</div>
                        <h5 class="author-box-name">{{name}}</h5>
                        {{#if bio}}
                        <p>{{bio}}</p>
                        {{else}}
                        <p>Read more posts by this author.</p>
                        {{/if}}
                    </section>
                </a>
                {{/foreach}}
            </div>

            <hr>

            <div>
                <h3>Subscribe to New Posts</h3>
                <p>If you would like to be notified of new posts, you can <a style="font-weight: 700;"
                        href="https://feedburner.google.com/fb/a/mailverify?uri=ChurchSacrificial&amp;loc=en_US">subscribe
                        to Church Sacrificial by email</a>. We won't use your email for any nefarious
                    purposes.
                    If you have an RSS reader, you can also <a
                        href="http://feeds.feedburner.com/ChurchSacrificial">subscribe to our feed in RSS</a>.
                </p>
            </div>

            <div>
                <h3>Have Some Thoughts?</h3>
                <p>Following the <a
                        href="https://faithfulfathers.today/2020/07/06/is-social-media-an-enemy-of-your-soul/">same
                        reasons
                        outlined on Faithful Fathers</a>, we do not allow comment boxes on our site. One-on-one
                    conversations tend to be immeasurably more mutually beneficial and fruitful than 99% of
                    "public" conversations/comment threads.
                </p>
                <p>That does not mean we
                    are not interested in dialogue. Quite the contrary! We welcome your thoughts. Just drop us a line
                    below. If you have your own blog or channel with a response, send a link along.
                </p>
                <!-- modify this form HTML and place wherever you want your form -->

                <form action="https://formspree.io/moqpvven" method="POST">
                    <label>
                        Your email:
                        <input type="text" name="_replyto">
                    </label>
                    <label>
                        Your message:
                        <textarea name="message"></textarea>
                    </label>

                    <!-- your other form fields go here -->

                    <button type="submit">Send</button>
                </form>
            </div>


        </footer>

        {{!--
        <section class="post-full-comments">
            If you want to embed comments, this is a good place to do it!
        </section>
        --}}
    </section>

</main>

{{/post}}

<script>
    var images = document.querySelectorAll('.kg-gallery-image img');
    images.forEach(function (image) {
        var container = image.closest('.kg-gallery-image');
        var width = image.attributes.width.value;
        var height = image.attributes.height.value;
        var ratio = width / height;
        container.style.flex = ratio + ' 1 0%';
    })
</script>